<!-- <h1>Welcome to Chitter!!!!</h1> -->

<!-- <a href = '/peeps/new'>New peeps</a> -->

<div class="login-page">
  <!--<link rel="stylesheet" type="text/css" href="index.css">.-->
  <div class="form">
    <h1><center>Welcome to Chitter!!!!<center></h>
    <form action ='/' method ='post'>
      <input type="text" name = 'name' placeholder="Name"/>
      <input type="text" name = 'email' placeholder="Email Address"/>
      <input type="password" name = 'password' placeholder="Password"/>
      <input type = 'submit' value = 'Submit' placeholder="Enter" />
      <p class="message">Already registered? <a href="login">Sign In</a></p>
    </form>
  </div>
</div>
