<!-- <h1>Welcome to Chitter!!!!</h1> -->

<!-- <a href = '/peeps/new'>New peeps</a> -->

<div class="login-page">
  <link rel="stylesheet" type="text/css" href="index.css">.
  <div class="form">
    <h1><center>Welcome to Chitter!!!!<center></h>
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="login">Sign In</a></p>
    </form>
  </div>
</div>
