<!-- <h1>Welcome to Chitter!!!!</h1> -->

<!-- <a href = '/peeps/new'>New peeps</a> -->

<html>
   <head>
       <title>Chitter</title>
   </head>
   <body><div style=background-color:darkblue>
     <h1><center><font color="white">Welcome to Chitter!!!!<center></h>
     <p>Chitter is a place in which you can post twits to all your peeps!</font></p>
   </div></body>
</html>
